In [10]:
a = 42
if a%2 == 0:
    print(" a is even")

 a is even

In [12]:
weather = 'Rainy'
if weather == 'Rainy':
    print("Ill not play cricket")

Ill not play cricket

In [14]:
weather = 'Rainy'
if weather != 'Rainy':
    print("Ill not play cricket")
else:
    print("ill play cricket")

ill play cricket

In [15]:
weather = 'Rainy'
if weather == 'Rainy':
    print("Ill not play cricket")
else:
    print("ill play cricket")

Ill not play cricket

In [17]:
age = 18
if age >18:
    print("Eligible to cast the vote")
else:
    print("not eligible to cast the vote")

not eligible to cast the vote

In [19]:
age = 19
if age >=18:
    print("Eligible to cast the vote")
else:
    print("not eligible to cast the vote")

Eligible to cast the vote

In [21]:
is_dscourse = True
if is_dscourse:
    print("i am studying data science course")
else:
    print("not opted for ds course, please subscibe to continue")

i am studying data science course

In [30]:
#to check the number is even
num = int(input("Enter the value of number"))
if(num%2 == 0) & (num > 0):
    print("Entered number is even")
elif(num<0) & (num%2 == 0):
    print("Entered value is -ve number and its -ve even number")
elif(num<0) & (num%2 != 0):
    print("Entered value is -ve number and its -ve odd number")
else:
    print("Entered number is positive odd number")

Enter the value of number 9

Entered number is positive odd number

In [38]:
age = 10
if (18 <= age < 60):
    print("you'r young and adult")
elif age>80:
    print("you'r a senior citizen")
else:
    print("your a child and minority")

your a child and minority

In [39]:
#nested if else
x = 1
y = 5
if (x>5):
    if(y>5):
        print("value of x and y is greate than 5")
    else:
        print("value of x is greater but y value is less then 5")
else:
    print("x is less then 5")

x is less then 5

In [50]:
x = 6
y = 5
if (x>5):
    if(y>5):
        print("value of x and y is greate than 5")
    else:
        print("value of x is greater but y value is less then 5")
else:
    print("x is less then 5")

value of x is greater but y value is less then 5

In [51]:
name = input("Enter a name")
email = input("enter the email")
password = input("enter the correct password")
if name == '':
    print("please enter a valid name , name cannot be empty")
else:
    if '@' not in email :
        print("enter a valid email")
    else:
        if(len(password)<0):
            print("please provide a valid password")
        else:
            print("Login successful")

Enter a name Shivanand
enter the email shiva@123
enter the correct password hjui

Login successful

In [52]:
name = input("Enter a name")
email = input("enter the email")
password = input("enter the correct password")
if name == '':
    print("please enter a valid name , name cannot be empty")
else:
    if '@' not in email :
        print("enter a valid email")
    else:
        if(len(password)<0):
            print("please provide a valid password")
        else:
            print("Login successful")

Enter a name 23
enter the email 34
enter the correct password

enter a valid email

In [59]:
n = 7
i = 1
while i<=n:
    print('The value of i is : ',i)
    i+=1

The value of i is :  1
The value of i is :  2
The value of i is :  3
The value of i is :  4
The value of i is :  5
The value of i is :  6
The value of i is :  7

In [60]:
count = 5
while count>0:
    print(count)
    count-=1

5
4
3
2
1

In [61]:
n = 7
i = 1
while i<=n:
    print('The value of i is : ',i)
    i+=1
else:
    print("else block also executes")

The value of i is :  1
The value of i is :  2
The value of i is :  3
The value of i is :  4
The value of i is :  5
The value of i is :  6
The value of i is :  7
else block also executes

In [71]:
n = 7
i = 1
while i<=n:
    print('The value of i is : ',i)
    i+=1
    if i == 7:
        continue;
else:
    print("else block also executes")

The value of i is :  1
The value of i is :  2
The value of i is :  3
The value of i is :  4
The value of i is :  5
The value of i is :  6
The value of i is :  7
else block also executes

In [72]:
a = 'pwskills'
for _ in a:
    print(_)

p
w
s
k
i
l
l
s

In [73]:
l = [1,2,'shivanand','Data science']
for _ in l:
    print(_)

1
2
shivanand
Data science

In [79]:
l = [1,2,'shivanand','Data science']
for _ in l:
    if(_=='shivanand'):
        break;
    print(_)
else:
    print("This is executed")

1
2

In [80]:
l = [1,2,'shivanand','Data science']
for _ in l:
    if(_=='shivanand'):
        continue;
    print(_)
else:
    print("This is executed")

1
2
Data science
This is executed

In [82]:
for _ in range(1,10,3):
    print(_)

1
4
7

In [89]:
for i in range(10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
#problem statemtns:
# print a right angle triangle with *
for i in range(4):
    for j in range(i+1):
        print("*", end = '')
    print()