### **#1.Explain the Key feaures of Python**

**Simplicity and Readability:** Python’s syntax is clean and easy to understand, which makes it accessible for beginners and allows developers to write code more quickly.

**Versatility:** Python can be used for various applications, including web development, data analysis, artificial intelligence, machine learning, automation, and more.

**Extensive Libraries and Frameworks:** Python has a rich ecosystem of libraries and frameworks (like Django, Flask, NumPy, Pandas, and TensorFlow) that streamline development and enable powerful functionality.

**Strong Community Support:** A large and active community contributes to a wealth of resources, tutorials, and documentation, making it easier for newcomers to find help.

**Cross-Platform Compatibility:** Python runs on various operating systems (Windows, macOS, Linux), allowing for greater flexibility in development.

**Integration Capabilities:** Python easily integrates with other languages and technologies, making it suitable for a variety of projects and environments.

**Dynamic Typing and Interactivity:** Python’s dynamic typing and interactive interpreter allow for rapid prototyping and experimentation.

## **2.Describe the role of predefined keywordsin python and provide examples of how they are used in a program**

Role of Predefined Keywords:
Control Flow: Keywords like if, else, for, while, and break control the flow of execution in programs.

Function Definition: Keywords such as def and return are used to define functions and return values.

Data Types and Structures: Keywords like class, import, and in are used for defining classes and importing modules, as well as checking membership.

Exception Handling: Keywords like try, except, finally, and raise are used to manage errors and exceptions in the code.


List of Common Keywords in Python:
Control Flow: if, else, elif, for, while, break, continue
Function and Class: def, return, class, self
Exception Handling: try, except, finally, raise
Other: import, from, as, in, is, lambda, with, not

In [ ]:
# Example 1: Control Flow with if-else
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

# Example 2: Looping with for
for i in range(5):
    print(i)

# Example 3: Function Definition
def add(a, b):
    return a + b

result = add(3, 4)
print("The sum is:", result)

# Example 4: Class Definition
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        return "Woof!"

my_dog = Dog("Buddy")
print(my_dog.bark())

# Example 5: Exception Handling
try:
    value = int(input("Enter a number: "))
    print("You entered:", value)
except ValueError:
    print("That's not a valid number!")
finally:
    print("Execution completed.")

x is greater than 5
0
1
2
3
4
The sum is: 7
Woof!
Enter a number: 10
You entered: 10
Execution completed.

# **3.Compare and contrast mutable and immutable objects in python with examples**

In Python, objects can be classified as mutable or immutable based on whether their state or contents can be changed after they are created.

# **Mutable Objects**
Definition: Mutable objects are those whose contents or state can be changed. When you modify a mutable object, the object itself is updated without creating a new object.

In [ ]:
#Examples:

#Lists: You can change, add, or remove elements.
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list[0] = 10  # Changing an element
print(my_list)  # Output: [10, 2, 3, 4]

[10, 2, 3, 4]

In [ ]:
#Dictionaries: You can add or change key-value pairs.

my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Adding a new key-value pair
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

# **Immutable Objects**
Definition: Immutable objects cannot be changed once they are created. Any modification to an immutable object results in the creation of a new object instead.

In [ ]:
#Tuples: Once created, you cannot change their contents
my_tuple = (1, 2, 3)  # Creating a tuple
print(my_tuple)

(1, 2, 3)

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This would raise a TypeError

new_tuple = my_tuple + (4,)  # Creates a new tuple
print(new_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [ ]:
#Strings: Strings cannot be modified; operations create new strings.

my_string = "Hello"
new_string = my_string.replace("H", "J")  # Creates a new string
print(new_string)  # Output: "Jello"
print(my_string)   # Output: "Hello" (original string remains unchanged)

Jello
Hello

### ** 4 Discuss the diff type of operators in python and provide a examples of how they are used **

 operators are special symbols that perform operations on variables and values. Here are the main types of operators in Python, along with examples for each:

 1. Arithmetic Operators
These operators perform basic mathematical operations.

Addition (+)
Subtraction (-)
Multiplication (*)
Division (/)
Floor Division (//)
Modulus (%)
Exponentiation (**)

2. Comparison Operators
These operators compare values and return a boolean result (True or False).

Equal to (==)
Not equal to (!=)
Greater than (>)
Less than (<)
Greater than or equal to (>=)
Less than or equal to (<=)

3. Logical Operators
These operators combine conditional statements.

AND (and)
OR (or)
NOT (not)

4. Bitwise Operators
These operators perform operations on binary representations of integers.

AND (&)
OR (|)
XOR (^)
NOT (~)
Left Shift (<<)
Right Shift (>>)

In [ ]:
a = 10
b = 3

print(a + b)  # Output: 13
print(a - b)  # Output: 7
print(a * b)  # Output: 30
print(a / b)  # Output: 3.333...
print(a // b) # Output: 3
print(a % b)  # Output: 1
print(a ** b) # Output: 1000

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
x = 5
y = 10

print(x == y)  # Output: False
print(x != y)  # Output: True
print(x > y)   # Output: False
print(x < y)   # Output: True
print(x >= y)  # Output: False
print(x <= y)  # Output: True

False
True
False
True
False
True

In [ ]:
a = True
b = False

print(a and b)  # Output: False
print(a or b)   # Output: True
print(not a)    # Output: False

False
True
False

In [ ]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011

print(a & b)  # Output: 1  (Binary: 0001)
print(a | b)  # Output: 7  (Binary: 0111)
print(a ^ b)  # Output: 6  (Binary: 0110)
print(~a)     # Output: -6 (Binary: 1010)
print(a << 1) # Output: 10 (Binary: 1010)
print(a >> 1) # Output: 2  (Binary: 0010)

1
7
6
-6
10
2

In [ ]:
x = 10
x += 5  # Same as x = x + 5
print(x)  # Output: 15

x *= 2  # Same as x = x * 2
print(x)  # Output: 30

15
30

In [ ]:
a = [1, 2, 3]
b = a
c = a[:]

print(a is b)      # Output: True (b is the same object as a)
print(a is c)      # Output: False (c is a copy of a)
print(a is not c)  # Output: True

True
False
True

In [ ]:
my_list = [1, 2, 3, 4]

print(2 in my_list)      # Output: True
print(5 not in my_list)  # Output: True

True
True

# ** 5.Explain the concept of type casting in python with examples**

Type casting in Python refers to the conversion of one data type to another. This is useful when you need to perform operations that require a specific data type, or when you want to ensure data consistency.

Types of Type Casting
Implicit Type Casting (Automatic)

This occurs when Python automatically converts one data type to another without explicit instructions from the programmer. It usually happens when a smaller data type is converted to a larger data type to avoid data loss.

In [ ]:
int_var = 5
float_var = 2.0
result = int_var + float_var  # int is converted to float
print(result)  # Output: 7.0
print(type(result))  # Output: <class 'float'>

7.0
<class 'float'>

Explicit Type Casting (Manual)
This is done by using built-in functions to convert data types explicitly. Python provides several functions for this purpose, including int(), float(), str(), and list().

In [ ]:
#Converting to Integer:
float_var = 5.7
int_var = int(float_var)  # Converts float to int
print(int_var)  # Output: 5

5

In [ ]:
#Converting to float:
int_var = 10
float_var = float(int_var)  # Converts int to float
print(float_var)  # Output: 10.0

10.0

In [ ]:
#Converting to String:
number = 100
string_var = str(number)  # Converts int to string
print(string_var)  # Output: "100"
print(type(string_var))  # Output: <class 'str'>

100
<class 'str'>

In [ ]:
#Converting to Integer from string:

str_var = "123"
int_var = int(str_var)  # Converts string to int
print(int_var)  # Output: 123

123

In [ ]:
#Converting a List to a Tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)  # Converts list to tuple
print(my_tuple)  # Output: (1, 2, 3)

(1, 2, 3)

# **6.How do conditional statements works in python explain with examples**

Conditional statements in Python allow you to execute specific blocks of code based on whether certain conditions are true or false. The primary conditional statements in Python are if, elif, and else.

if condition:
    # Code to execute if condition is true
elif another_condition:
    # Code to execute if the previous condition is false and this one is true
else:
    # Code to execute if all previous conditions are false

In [ ]:
#Simple conditional statements
age = 18

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [ ]:
#Example 2: Using elif You can use elif to check multiple conditions:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D or below")

Grade: B

In [ ]:
#Example 3: Nested Conditional Statements
number = 15

if number > 0:
    print("Positive number")
    if number % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
else:
    print("Negative number or zero")

Positive number
Odd number

In [ ]:
#Example 4: Combining Conditions
temperature = 30
humidity = 70

if temperature > 25 and humidity > 60:
    print("It's a hot and humid day.")
elif temperature > 25 and humidity <= 60:
    print("It's hot but not humid.")
else:
    print("It's a pleasant day.")

In [ ]:
#Example 5: Using the in Operator
fruits = ['apple', 'banana', 'cherry']

if 'banana' in fruits:
    print("Banana is in the list.")
else:
    print("Banana is not in the list.")

Banana is in the list.

# **7.Describe the different types of loops in python and thier use cases with examples**

For Loop: Best for iterating over a sequence or a fixed range.
While Loop: Best for situations where the number of iterations is not known beforehand.
Nested Loops: Useful for working with multi-dimensional data.
Control Statements: break and continue help manage loop execution.

In [ ]:
# Iterating over a list
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

# Using range to repeat an action
for i in range(5):  # This will iterate from 0 to 4
    print(i)

apple
banana
cherry
0
1
2
3
4

In [ ]:
#while loop
# Simple counter
count = 0
while count < 5:
    print(count)
    count += 1  # Incrementing the count

0
1
2
3
4

In [ ]:
# Nested loops to create a multiplication table
for i in range(1, 4):  # Outer loop
    for j in range(1, 4):  # Inner loop
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [33]:
for i in range(5):
    if i == 2:
        continue  # Skip the rest of the loop when i is 2
    print(i)

0
1
3
4